<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% if page.title and page.title != site.title %}
      <title>{{ page.title }} | {{ site.title }}</title>
    {% else %}
      <title>{{ site.title }}</title>
    {% endif %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Courgette&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="container">
    {% if page.url != "/us/" %}
      <div class="main-nav">
        <div id="brand"><a href="/">Yu-Chun Lo</a></div>
        <ul class="none">
          {% for menuItem in site.data.menu %}
            <li{% if page.permalink == menuItem.permalink %} class="active"{% endif %}><a href="{{ menuItem.permalink }}">{{ menuItem.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
      <div class="main-content">
