<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <meta property="og:title" content="Yu-Chun Lo">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://yuchunlo.tk">
  <meta property="og:image" content=" ">
  <meta property="og:description" content=" ">
  <meta property="og:site_name" content="http://yuchunlo.tk">
  <meta http-equiv="content-language" content="EN">
  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
