<body class="container">
  {% if page.url == "/" %}
    <div class="header">
      <video autoplay loop poster="/assets/header.jpg" id="bgvid">
        <source src="/assets/header.mp4" type="video/mp4">
      </video>
      <div id="dot-matrix"></div>
    </div>
  {% endif %}
  <div class="sidebar">
    <i id="bars" class="fa fa-bars"></i>
    <div class="sub-sidebar">
      <h1>Yu-Chun Lo</h1><br>
      Finding the way forward.
      <h2><a href="mailto:yuchunlo@gmail.com"><i class="fa fa-envelope fa-fw"></i></a> <a href="https://twitter.com/yuchunlo2401"><i class="fa fa-twitter fa-fw"></i></a> <a href="https://www.facebook.com/yuchunlo.2401"><i class="fa fa-facebook-official fa-fw"></i></a> <a href="https://github.com/yuchunlo"><i class="fa fa-github fa-fw"></i></a></h2>
    </div>
    <nav class="nav">
      <ul>
        <li>
        {% for menuItem in site.data.menu %}
          <li{% if page.permalink == menuItem.permalink %} class="active"{% endif %}><a href="{{ menuItem.permalink }}">{{ menuItem.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
  <div class="main-container">