        <div class="section-head">
          <div class="slogan">
            We break barriers for your global growth.<br>
          </div>
          <div class="slogan">
            　<i class="fas fa-lightbulb" style="font-size: 70px; color: gold;"></i>　　　　　　
            <i class="fas fa-user-plus" style="font-size: 70px; color: gold;"></i><br>
            <i class="fas fa-child" style="font-size: 370px; vertical-align:baseline"></i><br>
          </div>
        </div>
        <div class="section-white">
          <div class="slogan">
            Building bridges between you and your target audiences.
          </div>
          <div class="point-graphic">
            <i class="fas fa-globe-asia fa-fw"></i>
            <i class="fas fa-globe-americas fa-fw"></i>
            <i class="fas fa-globe-africa fa-fw"></i>
          </div>
          <div class="point-text">
            <small><i class="fas fa-check"></i></small><big> </big>Websites<br>
            <small><i class="fas fa-check"></i></small><big> </big>App and software<br>
            <small><i class="fas fa-check"></i></small><big> </big>Technical documents<br>
            <small><i class="fas fa-check"></i></small><big> </big>Marketing materials<br>
          </div>
        </div>
        <div class="section-blue">
          <div class="slogan">
            <big><b>100%</b></big> happy customer guarantee.
          </div>
          <div class="point-graphic">
            <i class="fas fa-award fa-fw" style="font-size: 110px; line-height: 1.2em;"></i>
          </div>
          <div class="point-text">
            <small><i class="fas fa-genderless"></i></small><big> </big>Translation and localization<br>
            <small><i class="fas fa-genderless"></i></small><big> </big>Language quality assurance<br>
            <small><i class="fas fa-genderless"></i></small><big> </big>Desktop publishing<br>
            <small><i class="fas fa-genderless"></i></small><big> </big>Engineering services<br>
          </div>
        </div>
        <div class="section-blue">
          <div class="slogan">
            <a href="mailto:l10n&period;teamx&commat;gmail&period;com"><button class="button-bw slogan">Get in touch now</button></a>
          </div>
        </div>
