<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">

  <title>Yu-Chun Lo</title>

<!--
  <meta name="description" content="
    ">

  <link href="http://fonts.googleapis.com/css?family=Source+Code+Pro|Merriweather:400,700" rel="stylesheet" type="text/css">
-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="/css/main.css" rel="stylesheet" type="text/css">
  <meta property="og:title" content="Yu-Chun Lo">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://yuchunlo.tk">
  <meta property="og:image" content=" ">
  <meta property="og:description" content=" ">
  <meta property="og:site_name" content="http://yuchunlo.tk">
  <meta http-equiv="content-language" content="EN">
  <!-- viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
</head>
<!--
<header>
  <video autoplay loop poster="/assets/header.jpg" id="bgvid">
    <source src="/assets/header.mp4" type="video/mp4">
  </video>
  <div class="header-text">
    <h2>"Discovery consists of seeing what everybody has seen and thinking what nobody has thought."</h2><br>
    — Albert von Szent-Gyorgy
  </div>
  <div id="dot-matrix"></div>
</header>
-->
<body class="container">
  <div class="header">
    <video autoplay loop poster="/assets/header.jpg" id="bgvid">
    <source src="/assets/header.mp4" type="video/mp4">
    </video>
    <div class="post-content">
      <h2>"Discovery consists of seeing what everybody has seen and thinking what nobody has thought."</h2><br>
      — Albert von Szent-Gyorgy
      {{ content }}
    </div>
    <div id="dot-matrix"></div>
  </div>
  <div class="sidebar">
    <i id="bars" class="fa fa-bars"></i>
    <div class="sub-sidebar">
      <h1>Yu-Chun Lo</h1><br>
      Finding the way forward.
      <h2></h><a href="mailto:yuchunlo@gmail.com"><i class="fa fa-envelope fa-fw"></i></a> <a href="https://twitter.com/yuchunlo2401"><i class="fa fa-twitter fa-fw"></i></a> <a href="https://www.facebook.com/yuchunlo.2401"><i class="fa fa-facebook-official fa-fw"></i></a> <a href="https://github.com/yuchunlo"><i class="fa fa-github fa-fw"></i></a></h2>
    </div>
    <nav class="nav">
      <ul>
        <li>
          <a href="/now.html">Now</a>
        </li>
        <li>
          <a href="/index.html">About</a>
        </li>
        <li>
          <a href="/work.html">Work</a>
        </li>
        <li>
          <a href="/blog">Blog</a>
        </li>
      </ul>
    </nav>
  </div>

{% include scripts.html %}
{% include end.html %}
