{% include menu.html %}

  <div id="container">
    {{ content }}
    <div id="comments">
      <h1>Have comments or thoughts?</h1>
      <p class="comment-form-comment">
        <textarea id="comment" name="4d386-comment" cols="45" rows="6" required=""></textarea>
        <textarea name="comment" style="display:none" rows="1" cols="1"></textarea>
      </p>
      <p class="comment-form-author">
        <input id="author" name="author" type="text" placeholder="Name" value="" size="30">
        <label for="author">Author</label>
        <span class="required">*</span>
      </p>
      <p class="comment-form-email">
        <input id="email" name="email" type="text" placeholder="E-Mail" value="" size="30">
        <label for="email">Email</label>
        <span class="required">*</span>
      </p>
      <p class="comment-form-url">
        <input id="url" name="url" type="text" placeholder="Website" value="" size="30">
        <label for="url">Website</label>
      </p>
      <p class="form-submit">
        <input name="submit" type="submit" id="submit" class="submit" value="Kommentar abschicken">
        <input type="hidden" name="comment_post_ID" value="2071" id="comment_post_ID">
        <input type="hidden" name="comment_parent" id="comment_parent" value="0">
      </p>
    </div>
  </div>

{% include scripts.html %}
{% include end.html %}
